*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
}
  
a {
    text-decoration: none;
    color: inherit;
}
  
ul {
    list-style-type: none;
}
  
nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  color: white;
  font-size: 18px;
  text-transform: capitalize;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #444;
  min-width: 160px;
  border-radius: 4px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  padding: 10px;
}

.dropdown-menu a {
  color: white;
  padding: 10px;
}


main {
    margin-top: 60px;
    padding: 20px;
}
  
.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}
  
.book-card {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
}
  
.book-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 4px;
}
  
.book-card h3 {
    font-size: 20px;
    margin: 10px 0;
}
  
.book-card .author {
    font-size: 16px;
    color: #555;
}
  
.book-card .about {
    font-size: 14px;
    color: #777;
    margin: 10px 0;
}
  
.book-card .price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
}
  
.book-card button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
  
.book-card button:hover {
    background-color: #555;
}

.footerContainer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}
